<h1> Welcome to the posts index </h1>

<hr>
<%= link_to 'Add a New Post', new_post_path %><br>
<hr>
<% @posts.each do |post| %>
  <p>
  <h3><%= link_to post.name, edit_post_path(post) %></h3>
  <%= truncate(post.description, :length => 70) %>
  <hr></p>
<% end %>