<h1> Welcome to the posts index </h1>

<hr>
<%= link_to 'Add a New Post', new_post_path %><br>
<hr>
<% @posts.each do |post| %>
  <p>
  <h3><%= post.name %></h3>
  <%= post.description %>
  <%= link_to 'Edit Post', edit_post_path(post) %>
  <hr></p>
<% end %>